<div class="jumbotron text-center">
  <div class="container">
    <h1>Property Listings</h1>
    <p>LALALALALALALLALALLALALA</p>
    <a href="#"><img src="https://abload.de/img/googlehyuho.png" /></a>
  </div>
</div>
